mixin footer()
	+b.FOOTER.footer
		+e.body
			.container
				.row
					.col-xl-3
						+e.logo
						+e.UL.legal
							li ОГРН 1171690042347
							li ИНН 1650348340
							li КПП 165001001
					.col-xl-3
						+e.NAV.menu
							ul
								li #[a(href='#') Главная]
								li #[a(href='#') Каталог товаров]
								li #[a(href='#') Доставка и&nbsp;оплата]
								li #[a(href='#') О&nbsp;компании]
								li #[a(href='#') Контакты]
					.col-xl-3
						+e.adress г. Набережные Челны, пр-т КАМАЗа, 22/3
						+e.UL.shedule
							li Пн-пт: с&nbsp;8:00 до&nbsp;17:00 мск
							li Сб: с&nbsp;8:00 до&nbsp;12:00 мск
							li Вс: выходной
					.col-xl-3
						+e.UL.contacts
							li #[a.strong(href='tel:+78007008572') 8 (800) 700-85-72]
							+tel-n-social(`tel:+79600799544`, `8 (960) 079-95-44`)
							li #[a.strong(href='#') Заказать звонок]
							+e.email(href='mailto:zapchasty-kama@yandex.ru') zapchasty-kama@yandex.ru]

		+e.info
			.container
				.row
					.col-xl-4
						+e.copyright © ООО «ТД КамаТехЦентр» 2021
					.col-xl-4
						+e.policy(href='#') Политика обработки персональных данных
					.col-xl-4
						+e.developer Создание сайта – #[a(href='#') Workes]

		+e.warning
			.container
				p Обращаем Ваше внимание на&nbsp;то, что данный Интернет-сайт носит исключительно информационный характер и&nbsp;ни&nbsp;при каких условиях не&nbsp;является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса Российской Федерации. ООО ТД&nbsp;КамаТехЦентр предлагает оригинальные запасные части для автомобилей КАМАЗ, а&nbsp;также продукцию заводов-смежников, которые не&nbsp;имеют отношения к&nbsp;торговой марке КАМАЗ. Все товары приобретены официально, при этом ООО ТД&nbsp;КамаТехЦентр не&nbsp;является официальным дилером ПАО Камаз. Упоминание КАМАЗ на&nbsp;данном сайте говорит о&nbsp;применяемости предлагаемых запасных частей к&nbsp;автомобилям марки КАМАЗ.
