mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			.row.align-items-center
				.col.d-flex.flex-column
					h2 Не&nbsp;знаете как подобрать запчасть?
					+e.subtitle Оставьте заявку и&nbsp;наши менеджеры помогут вам с&nbsp;выбором
					+form-wrap()
						.row
							.col-12.col-md-auto.text-center.text-md-left
								+input(`Ваш телефон`, 'tel')
							.col-12.col-md-auto.text-center.text-md-left
								+e.btn.btn.btn-primary Отправить заявку
						+agreement
						+tel-n-social
				.col-4.d-none.d-lg-block
					+e.img-wrap
						+pic(`engine.png`, '', 0)
	// end sForm