mixin modal() 
	//  start modals

	+b.modal-win.city-choose(id="modal-search-list" class=" " style="display: none" )
		+form-wrap
			h2 Выберите город
			+input("Ваш город",'text').input-search
				button.btn.btn--input
					+icon('close')
			+e.scroll-list
				ul
					li.active Барнаул
					li Волгоград
					li Воронеж
					li Екатеринбург
					li Иркутск
					li Кемерово
					li Красноярск
					li Новосибирск
					li Омск
					li Оренбург
					li Пермь
					li Ростов-на-Дону
					li Самара
					li Саратов
					li Томск
					li Тула
					li Тюмень
					li Улан-Удэ
					li Хабаровск
					li Якутск
	// #modal-search-list
	+b.modal-win.city-choose(id="modal-search-result" class=" " style="display: none" ).city-choose--loading
		+form-wrap
			h2 Выберите город
			+input("Ваш город",'text').input-search
				button.btn.btn--input
					+icon('loading')
			+e.scroll-list
				ul
					li Набережные Челны
	// #modal-search-result
	// end modals