mixin modal() 
	//  start modals

	+b.modal-win.city-choose(id="modal-search-list" class=" " style="display: none" )
		+form-wrap
			h2 Выберите город
			+input("Ваш город",'text').input-search
				button.btn.btn--input
					+icon('close')
			+e.scroll-list
				ul
					li.active Барнаул
					li Волгоград
					li Воронеж
					li Екатеринбург
					li Иркутск
					li Кемерово
					li Красноярск
					li Новосибирск
					li Омск
					li Оренбург
					li Пермь
					li Ростов-на-Дону
					li Самара
					li Саратов
					li Томск
					li Тула
					li Тюмень
					li Улан-Удэ
					li Хабаровск
					li Якутск
	// #modal-search-list
	+b.modal-win.city-choose(id="modal-search-result" class=" " style="display: none" ).city-choose--loading
		+form-wrap
			h2 Выберите город
			+input("Ваш город",'text').input-search
				button.btn.btn--input
					+icon('loading')
			+e.scroll-list
				ul
					li Набережные Челны
	// #modal-search-result

	+b.modal-win.short-modal(id="modal-gratitude" class=" " style="display: none" )
		+form-wrap
			h2 Спасибо за обращение!
			+e.caption Наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей заказа
			+e.btn.btn.btn-primary Закрыть
	// #modal-gratitude

	+b.modal-win.short-modal.in-cart(id="modal-in-cart" class=" " style="display: none" )
		+form-wrap
			h2 Товар добавлен в&nbsp;корзину
			+e.caption Двигатель 740.11 (740.11-1000400)
			.btns
				+e.btn.btn.btn-primary Оформить заказ
				+e.btn.btn.btn-outline-primary Продолжить покупки
	// #modal-in-cart

	+b.modal-win.request(id="modal-request" class=" " style="display: none" )
		+form-wrap
			h2 Оставить заявку
			+e.caption Заполните форму, и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей заказа
			.form-input
				+input('Ваше имя')
				+input('Ваш телефон','tel')
				+e.btn.btn.btn-primary Отправить заявку
			+agreement()
	// end modals