// start .sPrintHead
.sPrintHead {
	// --sPT: ;
	--sPB:#{rem(18)} ;
	--sPT:#{rem(18)} ;
	// --sTPB: ;
	border-bottom: 1px solid #E5E6E9;
	.row{
		justify-content: space-between;
		align-items: center;
	}
	img{
		max-width: rem(200);
	}
	p{
		max-width: rem(116);
		margin-bottom: 0;
		color: #323A42;
		font-size: rem(16);
		line-height: 125%;
		padding: 0;
	}
} // end.sPrintHead
