mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title.text-center
				h1 Каталог товаров
			.row
				mixin category-item(i, t, a)
					.col-6.col-md-4.col-lg-3
						+b.category-item(href='#')
							+e.img-wrap
								+pic(`${i}`, '', 0)
							+e.caption
								+e.title!= t
								+e.amount.text-secondary 198 товаров
				+category-item(`categories-1.png`, `Двигатели`)
				+category-item(`categories-2.png`, `Сборочные комплекты двигателя`)
				+category-item(`categories-1.png`, `Блоки цилиндров`)
				+category-item(`categories-1.png`, `Валы коленчатые`)
				+category-item(`categories-1.png`, `Цилиндропоршневая группа`)
				+category-item(`categories-1.png`, `Запчасти двигателей`)
				+category-item(`categories-1.png`, `Топливная система`)
				+category-item(`categories-1.png`, `Двигатели Cummins`)
				+category-item(`categories-3.png`, `Long/Short Block Cummins`)
				+category-item(`categories-4.png`, `Коробки передач`)
				+category-item(`categories-1.png`, `Главные передачи`)
				+category-item(`categories-1.png`, `Коробки раздаточные`)

	// end sCategories