// start .sCategories
.sCategories {
	--sPT: #{rem(60)};
	// --sPB: ;
	// --sTPB: ;
	.row {
		--bs-gutter-x: #{rem(12)};
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(16)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(20)};
		}
		--bs-gutter-y: var(--bs-gutter-x);
	}
	.section-title {
		h1 {
			font-weight: bold;
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCategories

.category-item {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	border-radius: $border-radius;
	border: 1px solid $light2;
	height: 100%;
	min-height: 368px;
	padding: rem(18);
	color: $body-color;
	@include media-breakpoint-up(sm) {
		min-height: 310px;
		padding: rem(16);
	}
	@include media-breakpoint-up(md) {
		min-height: 299px;
		padding: rem(16);
	}
	@include media-breakpoint-up(xl) {
		min-height: 328px;
		padding: rem(20);
	}
	@include media-breakpoint-up(xxl) {
		min-height: 364px;
	}
	&:hover {
		box-shadow: 0px 10px 25px rgba(51, 51, 51, 0.1);
	}

	picture {
		@include block(196 / 186);
		max-width: 196px;
		@include media-breakpoint-up(md) {
			@include block(182 / 172);
			max-width: rem(182);
		}
		height: auto;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		img {
			@include a-cent1;
			// width: 100%;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		margin-bottom: 10px;
		font-size: 17px;
		@include media-breakpoint-up(md) {
			font-size: 14px;
		}
		@include media-breakpoint-up(xxl) {
			font-size: rem(16);
			margin-bottom: rem(15);
		}
	}
	&__amount {
		font-size: 16px;
		line-height: (15 / 12);
		@include media-breakpoint-up(md) {
			font-size: 12px;
		}
		@include media-breakpoint-up(xxl) {
			line-height: (17 / 14);
			font-size: rem(14);
		}
	}
}
