extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sQ/_sQ.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Двигатели КАМАЗ'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()
	//- +sCategories()
	//- +sCatalog()
	.container
		.row
			.col-3
				.list-group
					mixin item(i, t)
						a.list-group-item.list-group-item-action(href='#')
							+pic(`${i}`, '', 0)
							span!= t
			.col-9
				+page-head(title, 'Каталог товаров', 'Двигатели')


	+sForm()
	+sAdvantages()
	+sQ()
	//- +sContact()
	+footer()

