extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sCategories/_sCategories.pug
include ../blocks/sProduct/_sProduct.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sQ/_sQ.pug
include ../blocks/sDelivery/_sDelivery.pug
block variables
	- let  mainPage= 'main-page' 
	- let  bg= '03-product.jpg'

block title
	- let  title= 'Двигатель 740.11 (740.11-1000400)'
	title= title
block pagecontent 
	//- +mob-mnu()
	//- +header()
	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()

	+page-body03('',title, 'Каталог товаров', 'Двигатели', 'Двигатель 740.11 (740.11-1000400)')
		+sProduct()
	+sForm(`Не&nbsp;нашли нужную модель?`)
	+sDelivery()
	+sAdvantages()
	+sQ()
	//- +sContact()
	+footer()

