extends layout/main.pug


include ../blocks/sPrint/_sPrint.pug
include ../blocks/sPrintHead/_sPrintHead.pug


block variables
	- let  mainPage= 'print' 
	- let  bg= '07-delivery.jpg'

block title
	- let  title= 'Печать'
	title= title
block pagecontent 
	+sPrintHead()
	+sPrint()
