// start .sQ
.sQ {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	&__wrapper{
		max-width: rem(850);
		margin-left: auto;
		margin-right: auto;
	}
	h2{
		text-align: center;
		font-weight: 700;
		margin-bottom: rem(20);
	}
	&__subtitle{
		text-align: center;
		font-weight: 500;
		color: #778089;
		font-size: rem(18);
		margin-bottom: rem(40);
		line-height: 150%;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sQ