.menu{
	display: flex;
	list-style: none;
	@include media-breakpoint-up(xl) {
		--bs-gutter-x: #{rem(40)};
	}
	@include roww(20px);
	position: relative;
	margin-bottom: 0;
	// max-width: 100%;
	flex-wrap: wrap;
	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		text-align: center;
		padding: rem(30) calc(var(--bs-gutter-x) / 2);
		font-weight: 600;
		color: $body-color;
		&.active,
		&:hover{
			color: $primary;
		}
	}
}